# Database Configuration
# The name of your Keycloak database
DB_DATABASE=keycloakdb
# Database user for Keycloak
DB_USER=keycloak
# Strong password for the database user
DB_PASSWORD=your_secure_db_password

# Keycloak Admin Configuration
# Username for the Keycloak admin account
KEYCLOAK_ADMIN=admin
# Strong password for the Keycloak admin account
KEYCLOAK_ADMIN_PASSWORD=your_secure_admin_password

# Keycloak User Configuration
# Username for the default Keycloak user
KEYCLOAK_USER=user
# Strong password for the default Keycloak user
KEYCLOAK_PASSWORD=your_secure_user_password

# Keycloak Hostname
KC_HOSTNAME=example.com